/* ========================================================================================= */
/* sizing */
.input-container.md .input {
    height: 48px;
    padding-inline: 16px;
}
/* ========================================================================================= */
/* default */
.input-container .input {
    background-color: var(--secondary);
    border-radius: 8px;
    overflow: hidden;
}

.input-container .input {
    display: flex;
    align-items: center;
    gap: 16px;
}
.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    border: none;
    outline: none;
}

.input-container .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label span,
.label label,
.hint {
    font-size: 14px;
}
.hint,
.label span {
    color: var(--tertiary);
}

/* error */
.label span.error,
.hint.error {
    color: var(--danger);
}
.hint.error svg path {
    stroke: var(--danger);
}
.hint.error {
    display: flex;
    align-items: center;
    gap: 4px;
}
.input.error {
    outline: 1px solid var(--danger);
}
