/* ========================================================================================= */
/* sizing */
.lg {
    height: 52px;
}

.md {
    height: 44px;
}

.sm {
    height: 32px;
    font-size: 14px;
    gap: 4px;
}

.md,
.lg {
    font-size: 16px;
    gap: 8px;
}
/* ========================================================================================= */

/* ========================================================================================= */
/* main */
.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ========================================================================================= */
